.topbar {
    background-color: #5F3F8F;
    display: block;
    text-align: left;
    padding:0;
}

.pages {
    position: relative;
    display: none;
    padding:0;
}

.textbox {
    display: inline-block;
    background-color: #0f2862;
    color: lightgray;
    margin: 10px;
    border-radius: 10px;
    max-width: 75%;
    float: none;
    padding: 10px;
}

.status {
    margin: 10px;
}

.statbox-static {
    width: 20rem;
    margin: 2rem;
    border-style: solid;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding:0;
}

.statbox-variable {
    max-width: 75%;
    margin: 2rem;
    border-style: solid;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 0;
}

.stattext {
    float: right;
}

.stat {
    float: left;
}

div {
    text-align: center;
    padding: 10px;
}

.button {
    padding:10px;
    font-family: "Ubuntu", sans-serif;
    color: white;
    border-style: none;
    background-color: #683F97;
}

.button:hover {
    background-color: #8d5fb8;
}

form {
    text-align: center;
}

body {
    font-family: "Ubuntu", sans-serif;
    color: white;
    background: #591f86;
    margin:0;
}

.list {
    display: inline-block;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
    border: solid thin;
    border-color: white;
    border-style: solid;
    color: white;
    padding:0;
}

th {
    overflow: auto;
    padding: 5px;
    width: 4rem;
    height: 2rem;
    background-color: #390f56;
    text-align: center;
}

td {
    width: auto;
    margin: 10px;
    overflow: auto;
    padding: 5px;
    background-color: #591f86;
    border-radius: 5px;
    text-align: center;
    border: solid thin;
    border-color: white;
    border-style: solid;
    color: white;
}

.stat-title {
    background-color: #8d5fb8;
}

.list {
    overflow: auto;
    display: inline-block;
    max-width: 100%;
}